@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-gray-300;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
* {
  font-family: "Markazi Text", serif;
}

#sidebar {
  @apply bg-white;
  width: 17.25rem;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px 0 20px;
  right: -300px;
  transition: 0.5s ease-in-out;
  overflow: auto;
  z-index: 313;
}
#logo-box {
  @apply flex justify-center;
}
#sidebar img {
  width: 50px;
  height: 50px;
  @apply rounded-full;
}

#sidebar svg {
  width: 25px;
  height: 25px;
}
#sidebar ul li {
  @apply w-[90%] ml-2 p-2  rounded text-right border-r-2 border-transparent cursor-pointer;
  svg {
    @apply ml-2;
  }
}
#sidebar ul li:hover {
  @apply bg-blue-100 border-r-2 border-solid;
}

#sidebar ul li:hover {
  a,
  svg {
    @apply text-blue-500;
  }
}

#sidebar-close {
  @apply top-[10px] left-[10px] flex items-center justify-center cursor-pointer;
  width: 10px;
  height: 10px;
  font-size: 45px;
  font-weight: bold;
}
#sidebar.active {
  right: 0;
}

#sidebar-search-box {
  display: flex;
  align-items: center;
  @apply rounded;
  padding: 10px;
  margin: 10px;
}

#sidebar-search-box input {
  display: flex;
  text-align: right;
  outline: none;
  border: none;
  @apply w-full p-2 rounded text-slate-700 bg-slate-300 placeholder:text-slate-500;
}
#sidebar-search-box svg {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-left: 10px;
  @apply text-gray-500;
}
#sidebar ul li ul {
  display: none;
  transition: 0.6s all ease-in-out;
}
#sidebar ul li:hover > ul {
  @apply block;
}

#main-nav-items ul li:hover > ul {
  @apply block;
}

.shadow {
  @apply z-[312];
}

.shadow.active {
  @apply z-[312] fixed left-0 bottom-0 w-full h-full opacity-30 bg-slate-300;
}

#main-nav {
  @apply container-center flex-col;
  &-box {
    width: 100%;
    max-width: 1200px;
    height: 100px;
    @apply bg-white flex justify-end sm:justify-center items-center rounded-[20px];
  }
  &-items {
    @apply hidden md:flex justify-center text-right items-center relative;

    ul {
      max-width: 1200px;
      margin-top: 15px;
      @apply shadow flex bg-slate-50 absolute  justify-center rounded-[15px] p-1;
      li {
        padding: 10px 20px 10px 20px;
        height: 40px;
        @apply transition-all rounded text-slate-900 hover:bg-blue-100 hover:text-blue-400 rounded-[10px] cursor-pointer;
      }
    }
    ul {
      @apply z-[313];
      li {
        @apply relative;
        ul {
          @apply shadow hidden absolute left-[-90px] top-[25px] p-3 border-b-slate-400 border-b-[2.5px] w-[170px];
          transition: 0.5s all ease-in-out;
        }
      }
    }
  }
  &-logo {
    @apply w-[30%];
    img {
      width: 60px;
      min-width: 60px;
      height: 60px;
      @apply rounded-full cursor-pointer outline outline-2 outline-slate-800;
    }
  }
  &-search {
    @apply relative sm:w-[40%] md:w-[100%] h-[40px] hidden sm:block;
    form{
      @apply sm:flex;
    }
    input {
      direction: rtl;
      @apply w-full p-3 text-right border-none rounded-xl outline-none bg-slate-100;
      height: 40px;
    }
    svg {
      width: 20px;
      font-size: 15px;
      @apply text-darkBlack absolute left-2 top-[10px];
    }
  }
  &-profile {
    @apply hidden sm:flex;
    width: 25%;
    justify-content: center;
    &-img {
      width: 60px;
      min-width: 60px;
      height: 60px;
      @apply rounded-full cursor-pointer outline outline-2 outline-rose-500;
    }
    &-list {
      direction: rtl;
      @apply hidden absolute rounded z-[313] w-full bg-white p-4 w-[200px] mt-[50px];
      li a {
        display: flex;
        direction: rtl;
        @apply w-full p-2 rounded hover:bg-blue-100 hover:text-blue-400;
        svg {
          margin-left: 5px;
        }
      }
      &.active {
        @apply flex flex-col;
      }
    }
  }
}

.container-center {
  @apply flex justify-center items-center px-20 py-5;
}
.card-list {
  direction: rtl;
  @apply mt-[50px];
  @apply grid w-full justify-center items-center gap-10;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
  .card {
    width: 250px;
    @apply max-w-[300px] relative shadow;
    height: 350px;
    @apply bg-slate-50 rounded-xl p-3;
    &-head {
      @apply flex justify-center relative h-[110px];
      div {
        @apply absolute top-[-30px] rounded-lg;
        img {
          @apply w-[230px] h-[132px] rounded-lg;
        }
      }
    }
    &-body {
      @apply text-right;
      h2 {
        @apply font-bold;
        @apply hover:text-blue-400 w-full;
      }
      p {
        @apply text-gray-500;
        font-size: 0.9rem;
        font-weight: normal;
        direction: rtl;
      }
    }
    &-footer {
      @apply absolute bottom-2 p-3 left-0 w-full flex justify-between items-center pt-1 border-separate border-t-2 text-right;
      direction: rtl;
      .price {
        &-value {
          font-size: 1.3rem;
          font-weight: bold;
        }
        &-currency {
          font-size: 0.8rem;
        }
      }
      .like {
        @apply bg-rose-300 text-rose-700 rounded px-1 flex justify-center items-center cursor-pointer transition-all;
        @apply hover:bg-rose-600 hover:text-white;
      }
    }
  }
}

footer {
  background-color: #24262b;
  padding: 70px 0;
  margin-top: auto;
}
.container {
  max-width: 1170px;
  margin: auto;
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 300;
  color: #bbb;
  display: block;
  transition: all 0.3 ease;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #fff;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
