@font-face {
  font-family: Yekan;
  src: url("../fonts/Yekan.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-gray-300;
}


body {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  font-family: Yekan;
}

.container-full-center {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#sidebar {
  @apply bg-white;
  width: 17.25rem;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px 0 20px;
  right: -300px;
  transition: 0.5s ease-in-out;
  overflow: auto;
  z-index: 313;
}

#logo-box {
  @apply flex justify-center;
}

#sidebar img {
  width: 50px;
  height: 50px;
  @apply rounded-full;
}

#sidebar svg {
  width: 25px;
  height: 25px;
}

#sidebar ul li {
  @apply w-[90%] ml-2 p-2  rounded text-right border-r-2 border-transparent cursor-pointer;
  svg {
    @apply ml-2;
  }
}

#sidebar ul li:hover {
  @apply bg-blue-100 border-r-2 border-solid;
}

#sidebar ul li:hover {
  a,
  svg {
    @apply text-blue-500;
  }
}

#sidebar-close {
  @apply top-[10px] left-[10px] flex items-center justify-center cursor-pointer;
  width: 10px;
  height: 10px;
  font-size: 45px;
  font-weight: bold;
}

#sidebar.active {
  right: 0;
}

#sidebar-search-box {
  display: flex;
  align-items: center;
  @apply rounded;
  padding: 10px;
  margin: 10px;
}

#sidebar-search-box input {
  display: flex;
  text-align: right;
  outline: none;
  border: none;
  @apply w-full p-2 rounded text-slate-700 bg-slate-300 placeholder:text-slate-500;
}

#sidebar-search-box svg {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-left: 10px;
  @apply text-gray-500;
}

#sidebar ul li ul {
  display: none;
  transition: 0.6s all ease-in-out;
}

#sidebar ul li:hover > ul {
  @apply block;
}

#main-nav-items ul li:hover > ul {
  @apply block;
}

.shadow {
  @apply z-[312];
}

.shadow.active {
  @apply z-[312] fixed left-0 bottom-0 w-full h-full opacity-30 bg-slate-300;
}

#main-nav {
  @apply mt-3 min-w-[450px] sm:w-[450px] md:w-[730px] lg:w-[1000px] xl:w-[1200px];

  &-box {
    height: 100px;
    @apply bg-white flex justify-end sm:justify-center items-center rounded-[20px];
  }

  &-items {
    @apply hidden relative md:flex justify-center text-right items-center relative;

    ul {
      @apply shadow flex bg-slate-50 absolute  justify-center rounded-[15px] p-1;
      li {
        padding: 10px 20px 10px 20px;
        z-index: 999 !important;
        height: 40px;
        @apply transition-all rounded text-slate-900 hover:bg-blue-100 hover:text-blue-400 rounded-[10px] cursor-pointer;
      }
    }

    ul {
      @apply z-[311];
      li {
        @apply relative;
        ul {
          @apply shadow hidden absolute left-[-90px] top-[25px] p-3 border-b-slate-400 border-b-[2.5px] w-[170px];
          transition: 0.5s all ease-in-out;
        }
      }
    }
  }

  &-logo {
    @apply w-[30%];
    img {
      width: 60px;
      min-width: 60px;
      height: 60px;
      @apply rounded-full cursor-pointer outline outline-2 outline-slate-800;
    }
  }

  &-search {
    @apply relative sm:w-[40%] md:w-[100%] h-[40px] hidden sm:block;
    form {
      @apply sm:flex;
    }

    input {
      direction: rtl;
      @apply w-full p-3 text-right border-none rounded-xl outline-none bg-slate-100;
      height: 40px;
    }

    svg {
      width: 20px;
      font-size: 15px;
      @apply text-darkBlack absolute left-2 top-[10px];
    }
  }

  &-profile {
    @apply hidden sm:flex z-[313];
    width: 25%;
    justify-content: center;

    &-img {
      width: 60px;
      min-width: 60px;
      height: 60px;
      @apply rounded-full cursor-pointer outline outline-2 outline-rose-500;
    }

    &-list {
      direction: rtl;
      @apply hidden absolute rounded w-full bg-white p-4 w-[200px] mt-[50px];
      li a {
        display: flex;
        direction: rtl;
        @apply w-full p-2 rounded hover:bg-blue-100 hover:text-blue-400;
        svg {
          margin-left: 5px;
        }
      }

      &.active {
        @apply flex flex-col;
      }
    }
  }
}

.container {
  @apply flex justify-center items-center px-20 py-5;
}

.container-landing-page {
  @apply p-[10px] flex-col justify-center items-center;

  div {
    img {
      margin-top: -110px;
    }

    h1 {
      font-weight: bold;
      font-size: 2.9rem !important;
    }
  }

  div {
    @apply flex justify-center mt-[80px];
    h1 {
      @apply text-5xl text-right;
      direction: rtl;
    }
  }
}

.container-right {
  @apply flex justify-end items-center;
}

.landing-page-image {
  @apply w-[150px];
  transform: scale(2);
}

.card-list {
  direction: rtl;
  @apply mt-[100px];
  @apply grid justify-center items-center gap-10 z-0;
  @apply min-w-[450px] sm:w-[450px] md:w-[730px] lg:w-[1000px] xl:w-[1200px];
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));

  .card {
    width: 250px;
    @apply max-w-[300px] relative shadow;
    height: 350px;
    @apply bg-slate-50 rounded-xl p-3;
    &-head {
      @apply flex justify-center relative h-[110px];
      div {
        @apply absolute top-[-30px] rounded-lg;
        img {
          @apply w-[230px] h-[132px] rounded-lg;
        }
      }
    }

    &-body {
      @apply text-right w-full;
      h2 {
        @apply font-bold;
        @apply hover:text-blue-400 inline-flex;
      }

      p {
        @apply text-gray-500;
        font-size: 0.9rem;
        font-weight: normal;
        direction: rtl;
      }
    }

    &-footer {
      @apply absolute bottom-2 p-3 left-0 w-full flex justify-between items-center pt-1 border-separate border-t-2 text-right;
      direction: rtl;

      .price {
        &-value {
          font-size: 1.3rem;
          font-weight: bold;
        }

        &-currency {
          font-size: 0.8rem;
        }
      }

      .like {
        @apply bg-rose-300 text-rose-700 rounded px-1 flex justify-center items-center cursor-pointer transition-all;
        @apply hover:bg-rose-600 hover:text-white;
      }
    }
  }
}

.footer {
  direction: rtl;

  &-intro-social-networks {
    @apply flex flex-col sm:flex-col md:flex-row justify-between px-[120px] items-center bg-indigo-600 p-3 text-white;
    ul {
      @apply flex;
      li {
        @apply m-1;
      }

      svg {
        width: 14px;
        height: 14px;
      }
    }
  }

  &-list {
    display: grid;

    @media
  screen(md) {
    grid-template-columns: 30% repeat(3, max-content);
  }

    @apply justify-around items-center text-white bg-slate-800 p-3;
    h3 {
      font-size: 1.5rem;
      @apply inline-flex font-bold;
      @apply border-b-[1px] border-solid border-indigo-300;
    }

    p {
      overflow-wrap: break-word;
    }

    li {
      @apply text-center;
    }
  }

  &-copyRight {
    @apply bg-slate-900 p-3 flex justify-center text-white shadow;
  }
}

.footer {
  @apply min-w-[450px] sm:w-[450px] md:w-[730px] lg:w-[1000px] xl:w-[1200px];
  @apply border-t-2  border-t-blue-200 mb-[10px] mt-3;
  ul:nth-child(1) {
    @apply bg-white rounded-t p-4;
    @apply flex flex-col md:flex-row justify-center items-center;
    li {
      @apply m-2;
    }
  }

  ul:nth-child(2) {
    @apply flex justify-center items-center bg-white pb-2;
    li {
      @apply m-2;
      svg {
        width: 25px;
        height: 25px;
      }
    }
  }

  ul:nth-child(3) {
    @apply bg-slate-700 text-white p-4 text-center rounded-b;
  }

  &-logo {
    width: 60px;
    min-width: 60px;
    height: 60px;
    @apply rounded-full mx-[50px];
  }

  a {
    @apply text-blue-400 hover:text-blue-500;
  }
}

.h1 {
  font-size: 48px;
}

bg-white {
  @apply bg-white;
  border-radius: 40px;
  padding: 10px;
  margin-left: 5px;
}

magenta {
  @apply text-indigo-600;
}

red {
  @apply text-red-500;
}

green {
  @apply text-green-500;
}

orange {
  @apply text-red-500 font-bold;
}

.categories {
  .category-item {
    @apply bg-green-100 text-green-400 rounded p-1;
  }
}


.product {
  @apply grid mt-[60px] ;
  row-gap: 5px;

  justify-content: space-between;
  align-items: center;
  text-align: right;
  @apply px-[10px] min-w-[450px] sm:w-[450px] md:w-[730px] lg:w-[1000px] xl:w-[1200px];


  grid-template-areas:
  "category category category"
  "title title title"
  "content content content"
  "audio audio audio";

  grid-template-columns: 20% 40% 40% !important;

  @media screen and (min-width: 1000px) {
    grid-template-areas:
  "audio audio category"
  "audio audio title"
  "audio audio content"
  "audio audio content";
  }

  &-title {
    @apply mt-2;
    grid-area: title;
    font-size: 1.3rem;
    font-weight: bold;
    direction: rtl;
    font-family: Yekan;
  }

  &-content {
    grid-area: content;
  }

  &-categories {

    direction: rtl;

    grid-area: category;

    &-item {
      width: 100px;
      height: 90px;
      padding: 3px 15px 3px 15px;
      @apply bg-green-200 rounded text-green-500;
    }
  }

  &-audio {
    grid-area: audio;
  }

}