@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-gray-300;
}
* {
  font-family: "Markazi Text", serif;
}

#sidebar {
  @apply bg-white;
  width: 17.25rem;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px 0 20px;
  right: -300px;
  transition: 0.5s ease-in-out;
  overflow: auto;
  z-index: 313;
}
#logo-box {
  @apply flex justify-center;
}
#sidebar img {
  width: 50px;
  height: 50px;
  @apply rounded-full;
}

#sidebar svg {
  width: 25px;
  height: 25px;
}
#sidebar ul li {
  @apply w-[90%] ml-2 p-2  rounded text-right border-r-2 border-transparent cursor-pointer;
  svg {
    @apply ml-2;
  }
}
#sidebar ul li:hover {
  @apply bg-blue-100 border-r-2 border-solid;
}

#sidebar ul li:hover {
  a,
  svg {
    @apply text-blue-500;
  }
}

#sidebar-close {
  @apply top-[10px] left-[10px] flex items-center justify-center cursor-pointer;
  width: 10px;
  height: 10px;
  font-size: 45px;
  font-weight: bold;
}
#sidebar.active {
  right: 0;
}

#sidebar-search-box {
  display: flex;
  align-items: center;
  @apply rounded;
  padding: 10px;
  margin: 10px;
}

#sidebar-search-box input {
  display: flex;
  text-align: right;
  outline: none;
  border: none;
  @apply w-full p-2 rounded text-slate-700 bg-slate-300 placeholder:text-slate-500;
}
#sidebar-search-box svg {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-left: 10px;
  @apply text-gray-500;
}
#sidebar ul li ul {
  display: none;
  transition: 0.6s all ease-in-out;
}
#sidebar ul li:hover > ul {
  @apply block;
}

.shadow {
  @apply z-[312];
}

.shadow.active {
  @apply z-[312] absolute top-0 left-0 w-full h-full opacity-30 bg-slate-300;
}

#main-nav {
  @apply container-full;
  &-box {
    width: 80%;
    max-width: 1200px;
    height: 100px;
    border-radius: 20px;
    @apply bg-white flex justify-end sm:justify-center items-center;
  }
  &-logo {
    width: 25%;
    img {
      width: 50px;
      min-width: 50px;
      height: 50px;
      @apply rounded-full;
      @apply rounded-full cursor-pointer outline outline-2 outline-slate-800;
    }
  }
  &-search {
    width: 50%;
    height: 40px;
    @apply relative;
    input {
      direction: rtl;
      @apply w-full p-3 text-right border-none rounded-xl outline-none bg-slate-100;
      height: 40px;
    }
    svg {
      width: 20px;
      font-size: 15px;
      @apply text-darkBlack absolute left-2 top-[10px];
    }
  }
  &-profile {
    @apply hidden sm:flex;
    width: 25%;
    justify-content: center;
    &-img {
      width: 50px;
      height: 50px;
      @apply rounded-full cursor-pointer outline outline-2 outline-rose-500;
    }
    &-list {
      direction: rtl;
      @apply hidden absolute z-[313] w-full bg-white p-4 w-[200px] mt-[50px];
      li a {
        display: flex;
        direction: rtl;
        @apply w-full p-2 hover:bg-blue-100 hover:text-blue-400;
        svg {
          margin-left: 5px;
        }
      }
      &.active {
        @apply flex flex-col;
      }
    }
  }
}

.container-full {
  @apply flex justify-center items-center p-[20px];
}

.card {
  width: 250px;
  @apply max-w-[300px] relative;
  height: 350px;
  @apply bg-slate-50 rounded-xl p-3;
  &-head {
    @apply flex justify-center relative h-[110px];
    div {
      @apply absolute top-[-30px] rounded-lg;
      img {
        @apply w-[230px] h-[132px] rounded-lg;
      }
    }
  }
  &-body {
    @apply text-right;
    h2 {
      @apply font-bold;
      @apply hover:text-blue-400 w-full;
    }
    p {
      @apply text-gray-500;
      font-size: 0.9rem;
      font-weight: normal;
      direction: rtl;
    }
  }
  &-footer {
    @apply absolute bottom-2 p-3 left-0 w-full flex justify-between items-center pt-1 border-separate border-t-2 text-right;
    direction: rtl;
    .price {
      &-value {
        font-size: 1.3rem;
        font-weight: bold;
      }
      &-currency {
        font-size: 0.8rem;
      }
    }
    .like {
      @apply flex justify-center items-center cursor-pointer;
      .unliked {
        @apply hover:text-rose-500;
      }
      .liked {
        @apply text-rose-500;
      }
    }
  }
}
