.card-list-products {
  direction: rtl;
  @apply mt-[100px];
  @apply grid justify-center items-center gap-10 /* z-0 */;
 /* @apply min-w-[450px] sm:w-[450px] md:w-[730px] lg:w-[1000px] xl:w-[1200px];*/
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));

  .card {
    @apply w-[250px] max-w-[300px] relative shadow;
    height: 350px;
    @apply bg-slate-50 rounded-xl p-3;

    &-head {
      @apply flex justify-center relative h-[110px];

      div {
        @apply absolute top-[-30px] rounded-lg;

        img {
          @apply w-[230px] h-[132px] rounded-lg;
        }
      }
    }

    &-body {
      @apply text-right w-full;

      h2 {
        @apply hover:text-blue-400 inline-flex;
        font-family: almarai-bold;
      }

      p {
        @apply text-gray-500;
        font-size: 0.77em;
        direction: rtl;
        font-family: iransans;
      }
    }

    &-footer {
      @apply absolute bottom-2 p-3 left-0 w-full flex justify-between items-center pt-1 border-separate border-t-2 text-right;
      direction: rtl;

      .price {
        &-value {
          font-size: 1.3rem;
          font-weight: bold;
        }

        &-currency {
          font-size: 0.8rem;
        }
      }

      .like {
        @apply w-max bg-rose-300 text-rose-700 rounded px-1 flex justify-center items-center cursor-pointer transition-all;
        @apply hover:bg-rose-600 hover:text-white text-base;

        svg {
          width: 1em;
          height: 1sem;
        }
      }
    }
  }
}


.card-list-posts {
  direction: rtl;
  @apply mt-[100px];
  @apply grid justify-center items-center gap-10 /* z-0 */;
 /* @apply min-w-[450px] sm:w-[450px] md:w-[730px] lg:w-[1000px] xl:w-[1200px];*/
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));

  .card {
    @apply w-[250px] max-w-[300px] relative shadow;
    height: 350px;
    @apply bg-slate-50 rounded-xl p-3;

    &-head {
      @apply flex justify-center relative h-[110px];

      div {
        @apply absolute top-[-30px] rounded-lg;

        img {
          @apply w-[230px] h-[132px] rounded-lg;
        }
      }
    }

    &-body {
      @apply text-right w-full;

      h2 {
        @apply hover:text-blue-400 inline-flex;
        font-family: almarai-bold;
      }

      p {
        @apply text-gray-500;
        font-size: 0.77em;
        direction: rtl;
        font-family: iransans;
      }
    }

    &-footer {
      @apply absolute bottom-2 p-3 left-0 w-full flex justify-between items-center pt-1 border-separate border-t-2 text-right;
      direction: rtl;

      .price {
        &-value {
          font-size: 1.3rem;
          font-weight: bold;
        }

        &-currency {
          font-size: 0.8rem;
        }
      }

      .like {
        @apply w-max bg-rose-300 text-rose-700 rounded px-1 flex justify-center items-center cursor-pointer transition-all;
        @apply hover:bg-rose-600 hover:text-white text-base;

        svg {
          width: 1em;
          height: 1sem;
        }
      }
    }
  }
}



.card-list-posts{
    @apply grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 300px));

    &__card{
      @apply flex flex-col p-3 rounded shadow bg-white;
    &__img{}
  &__title{
      @apply font-bold mt-3;
    }
    }
  }
