.product__content {
  @apply mt-3;
  display: grid;
  grid-template-areas:
    "content content"
    "sidebar sidebar";

  @media screen and (min-width: 800px) {
    grid-template-areas:
      "sidebar content"
      "sidebar content";
  }

  width: 100%;
  overflow-wrap: normal;
  /* @apply md:w-[730px] lg:w-[1000px] xl:w-[1200px]; */
  gap: 10px;
  grid-template-columns: minmax(26%, 40%) minmax(73%, 65%);

  &__body {
    grid-area: content;
    direction: rtl;
    @apply bg-white shadow rounded p-[20px] text-base text-right;
  }

  &__sidebar {
    grid-area: sidebar;

    .sidebar-owner {
      @apply bg-white shadow rounded p-3 text-right;
      justify-content: center;
      align-items: center;
      @apply mt-3;
      display: grid;
      grid-template-areas: "img" "owner_name" "owner_info" "info";
      gap: 10px;

      img {
        @apply rounded-full;
        grid-area: img;
        width: 70px;
        height: 70px;
        margin: auto auto;
      }

      &-info {
        grid-area: owner_info;
        @apply text-slate-500 opacity-90 font-bold text-base text-center;
      }

      &-name {
        grid-area: owner_name;
        @apply text-gray-900 text-lg text-center font-bold;
      }

      p {
        grid-area: info;
        text-align: justify;
        @apply text-slate-500 opacity-80 text-base;
      }
    }

    .sidebar-related-products {
      border: 1px solid #ecf0f4;
      @apply bg-white shadow rounded p-3 text-right mt-3;

      h5 {
        @apply p-3 text-lg font-bold;
      }

      li {
        direction: rtl;
        @apply p-2 mr-5 text-right relative text-base;
        counter-increment: index;
        border-top: 1px solid #ecf0f4;

        &::before {
          content: counters(index, ".");
          position: absolute;
          right: -25px;
          top: 25%;
          width: 8px;
          @apply absolute flex text-base text-white bg-rose-600 shadow-lg w-[25px] rounded;
          @apply justify-center items-center;

        }

      }
    }

    .sidebar-product-details {
      @apply grid gap-10 justify-between;
      grid-template-columns: repeat(2,1fr);


      &-created{
        @apply bg-white text-center p-3 rounded shadow;
      }

      .icon{
        @apply font-bold text-2xl;
      }
      .value{
        @apply text-base;
      }

    }
  }
}


.product__top {
  @apply bg-white shadow p-3;
  grid-area: content;
  @apply grid mt-[60px] rounded;
  justify-content: center;
  align-items: center;
  text-align: right;
  /* @apply md:w-[730px] lg:w-[1000px] xl:w-[1200px]; */

  grid-template-areas:
    "image image image"
    "categories categories categories"
    "title title title"
    "content content content"
    "money money money"
    "addToCart addToCart addToCart"
    "footer footer footer";

  @media screen and (min-width: 800px) {
    justify-content: space-between;
    grid-template-areas:
      "categories categories categories"
      "image title title"
      "image content content"
      "image money addToCart"
      "footer footer footer";
    grid-template-columns: 30% 25% 25%;
    grid-template-rows: 1fr 70px 75px 90px 90px;
  }

  &__addToCart {
    height: 60px;
    grid-area: addToCart;
    font-weight: bold;
    @apply  bg-green-500 text-green-100 flex justify-center rounded items-center mt-3 shadow-2xl;
  }

  &__title {
    @apply text-3xl font-bold text-gray-700 mb-5 mt-3;
    grid-area: title;
    direction: rtl;
  }

  &__footer {
    grid-area: footer;
    @apply mt-5 border-slate-100 border-t-2 w-full p-3  flex justify-between items-center text-gray-600;

    i{
      @apply text-2xl;
    }

    &__box{
      @apply flex gap-3 justify-center items-center;

      &__like-box {
        @apply cursor-pointer;
        &:hover{
          @apply text-rose-500;

        }
      }
      &__comment-box {}
    }

    &__social-media {
      direction: rtl;
    }
  }

  &__money {
    @apply text-gray-700 mt-3 text-center text-3xl font-bold text-right flex gap-2;
    grid-area: money;
  }

  &__content {
    @apply text-base;
    grid-area: content;
  }

  &__categories {
    direction: rtl;

    grid-area: categories;

    &-item {
      @apply bg-green-200 rounded text-green-500 shadow text-base px-2 py-1;
    }
  }

  &__image {
    @apply rounded w-full h-[300px];
    grid-area: image;
  }
}

.full-right-to-left {
  direction: rtl;
  text-align: right;
}
