.card-list-products {
  @apply grid justify-center mt-10 gap-16 text-right items-center;
  direction: rtl;
  grid-template-columns: repeat(auto-fill, 320px);

  &__card {
    @apply grid p-3 bg-white rounded shadow-xl relative;
    grid-template-areas: "img img" "title title" "author author" "footer footer";

    row-gap: 15px;
    &__overflow-hidden {
      grid-area: img;
      @apply overflow-hidden rounded  relative shadow-xl;
      &__img {
        @apply w-full h-[250px] object-cover   transform transition duration-200 hover:scale-110 rounded;
      }
    }
    &__title {
      grid-area: title;
      @apply text-right text-xl font-bold;
    }
    &__author {
      @apply flex items-center;
      grid-area: author;

      &__img {
        @apply ml-1 w-[34px] w-[34px] rounded-full shadow;
      }
      &__name {
      }
    }

    &__footer {
      @apply flex justify-between;
      grid-area: footer;
      &__comment-count {
        @apply ml-1 flex justify-center cursor-pointer items-center text-slate-500 shadow  px-1 bg-slate-100 rounded transition-all duration-200;
        font-size: 0.9em;
        svg {
          @apply ml-[0.5px] mt-[2px];
          width: 1em;
          height: 1em;
        }
        &:hover {
          @apply bg-slate-500 text-white;
        }
      }

      &__like {
        @apply flex justify-center cursor-pointer items-center text-rose-500 shadow  px-1 bg-rose-100 rounded transition-all duration-200;
        font-size: 0.9em;
        svg {
          @apply ml-[0.5px] mt-[2px];
          width: 1em;
          height: 1em;
        }
        &:hover {
          @apply bg-rose-500 text-white;
        }
      }
      &__price {
        @apply relative;
        &__discount {
          @apply absolute top-[-20px] left-0 shadow bg-rose-100 text-rose-500 rounded-full;
          &__value {
            font-size: 0.8rem;

            &::before {
              content: "";
              @apply w-full h-[0.8px] bg-rose-500 absolute top-[13px];
            }
          }
          &__currency {
            font-size: 0.6rem;
          }
        }
        &__final {
          &__value {
            font-size: 1.3rem;
            font-weight: bold;
          }
          &__currency {
            font-size: 0.9rem;
            font-weight: lighter;
          }
        }
      }
    }
  }
}
