@font-face {
  font-family: 'mk-bold';
  src: url('/assets/fonts/MarkaziText-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'mk-medium';
  src: url('/assets/fonts/MarkaziText-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'mk-regular';
  src: url('/assets/fonts/MarkaziText-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'mk-semi-bold';
  src: url('/assets/fonts/MarkaziText-SemiBold.ttf') format('truetype');
}